{{#each phrases}}
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="d-flex card-header bg-transparent justify-content-end">
        <i class="far fa-trash-alt text-danger" data-id="{{this.id}}"></i>
      </div>
      <div class="card-body text-center">
        <h4>{{this.translation}}</h4>
        <p class="mt-4 italics">{{this.orig_phrase}}</p>
      </div>
    </div>
  </div>
  {{/each}}
