      <section class="row mt-4 pt-4 mx-2 mb-2">
        <div class="col-md-10 offset-md-1">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <div class="form-inline flex-nowrap">
                <label for="bank-filter" style="
                display: contents;
            "><i class="fas fa-filter pr-2 text-white"></i><span class="text-white pr-2">Filter:</span></label>
                <select class="form-control" id="bank-filter">
                  <option value="All Languages">All Languages</option>
                  {{> language-selector }}
                </select>
              </div>
              <div class="form-inline justify-content-end flex-nowrap pl-4">
                <label for="sort-control" style="
                display: contents;
            "><p class="text-white pr-2">Sort:</p></label>
                <select class="form-control" id="sort-control">
                  <option></option>
                  <option>A-Z</option>
                  <option>Z-A</option>
                  <option>Newest First</option>
                  <option>Oldest First</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </section>