<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <a class="navbar-brand " href="#"><h4 class="my-2" href="/members">Lrn It</h4></a>
    <!--*** Collapse button ***-->
    <button id="hamburger" class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#menu-links" aria-controls="menu-links" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
    </button>
  <div class="collapse navbar-collapse justify-content-end" id="menu-links">
    <div class="navbar-nav">
      <a class="nav-item nav-link mr-4" href="/members"><p><i class="fas fa-home pr-2"></i>Home</p></a>
      <a class="nav-item nav-link mr-4" href="/study"><p><i class="fas fa-graduation-cap pr-2"></i>Study Mode</p></a>
      <a class="nav-item nav-link mr-4" href="/metrics"><p><i class="fas fa-chart-line pr-2"></i>Metrics</p></a>
      <a class="nav-item nav-link" href="/logout"><p><i class="fas fa-sign-out-alt pr-2"></i>Sign Out</p></a>
    </div>
  </div>
</nav>