{{> nav-block}}

      <section class="row mt-4 pt-4 mx-2">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <h2>Word Bank Metrics</h2>
                <p id="instructions">Explore the details of your word bank to see the knowledge you've acquired.</p>
                <div class="row">
                  <canvas id="myChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{{> script-block}}