body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, .h1 {
  font-size: 26px;
}

.italics {
  font-style: italic;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
/* p, a {
  font-size: 1.5rem;
} */

.card {
  max-height: 90vh;
}

.register-img {
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
}

.o-hidden {
  overflow: hidden !important;
}

.bg-gradient-success {
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  height: 100vh;
}

.bg-gradient-dark {
  background-color: #5a5c69;
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
  background-size: cover;
  height: 100vh;
}

form.user .form-control-user {
  font-size: 1rem;
  border-radius: 10rem;
  /* padding: 1.5rem 1rem; */
  box-shadow: none;
  height: 40px;
}

#text-input, #translate-from, #translate-to {
  box-shadow: inset 0 0px 0 rgba(0,0,0,0.075) !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  /* padding: 0.375rem 0.75rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-round {
  border-radius: 10rem;
  font-size:1rem;
  height: 40px;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.form-control::placeholder {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}

.form-filter {
  display: contents !important;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-item a{
  color: #444444;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* <----- Hamburger Menu Animation -----> */
.navbar button {
  border: 0;
}

button {
  background-color: white;
}

#hamburger:focus,
#hamburger:active:focus,
#hamburgeractive:focus,
#hamburgerfocus,
#hamburger:active.focus {
  outline: none !important;
}

/* Icon 2 */
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: #444444;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}
#mb-4 {
  color: rosybrown;
}

.success-message {
  opacity: 0;
  animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}